@page "/f1"
<h3>FirstInput</h3>
<input @bind="eingabe0" @onkeypress="_=>keydown(_)" @onkeypress:preventDefault/>
<input @bind-value="eingabe" @bind-value:event="oninput"/>
<input value="test" />
@taste
<br />
@eingabe

@code {
    string taste;
    string eingabe;
    string eingabe0;
    void keydown(KeyboardEventArgs e)
    {
        taste = e.Key;
        if (e.Key!="a")
        {

            eingabe0 += e.Key;

        }

    }
}
