@page "/vrest"
@inject IHttpClientFactory http;
<h3>RestTodo</h3>
<button @onclick="laden" class="btn btn-primary">laden</button>
@if (Todoliste == null)
{
    <p>Daten bitte laden...</p>
}
else
{
    <ul class="list-group">
      <Virtualize Items="Todoliste" Context="item" 
                OverscanCount="5" ItemSize="15">
                
                <li class="list-group-item">
                    @item.title
                </li>
            </Virtualize>

     

    </ul>

}

@code {
    public List<Todos> Todoliste;
    async Task laden()
    {
        var client = http.CreateClient();
        Todoliste = await client.GetFromJsonAsync<List<Todos>>("https://jsonplaceholder.typicode.com/todos");
        // mit Rückgabe Task kein StateHaschanged

    }


}
