@page
@model BlazorMaiTZ.Pages.Modul5.IndexModel
@{
}

<form method="post" novalidate>
    <input name="eins" /><br />
    <input type="number" /><br />
    <input type="datetime-local" /><br />
    <input type="text" required /><br />
    <input type="range" min="10" max="100" /><br />
    <button type="submit">submit</button>
</form>
